/*Styles for the container and the button, which is used to show the popup window*/
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.button {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  height: 16px;
  width: 168px;
  cursor: pointer;
}

.button-container .button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

/*Responsive styles for the container and the button*/
@media screen and (max-width: 767px) {
  .button-container {
    width: 100%;
  }

  .button {
    height: 16px;
    margin: 8px 0;
  }
}

/*Styles for the popup window and its contents (canvas, buttons, etc.)*/
canvas {
  border: 1px solid;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  display: none;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  position: relative;
  transition: all 1s ease-in-out;
  overflow: visible;
}

.first-span {
  margin-top: -10px;
}

.second-span {
  margin-top: -5px;
  margin-bottom: 5px;
}

.button-popup {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  height: 1.7rem;
  border-radius: 3px;
  border: none;
  width: 50%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.button-popup:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease-in-out;
}

/*Responsive styles for the popup window and its contents*/
@media screen and (max-width: 400px) {

  .popup {
    width: 85%;
    padding: 20px;
  }
}

@media screen and (max-height: 490px) {

  .popup {
    margin: 8px auto;
  }

  .button-popup {
    width: 50%;
    margin-bottom: 0.3rem;
    padding: 0.1rem;
  }

  canvas {
    margin-bottom: -10px;
  }

}

/*Styles for the resulting image of signing*/
.result {
  display: flex;
  margin: 0 auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
