<div class="card-container">
  <form
    [formGroup]="weatherSearchForm"
    (ngSubmit)="getWeatherData(weatherSearchForm.value)"
  >
    <div class="card-container">
      <input
        type="text"
        id="weatherLocation"
        aria-describedby="weatherLocation"
        placeholder="Bitte einen Ort eingeben"
        formControlName="location"
        class="location-input"
      />
      <button type="submit" class="card card-small">
        Suche!
      </button>
    </div>
    <div>
    </div>
  </form>
</div>

<div *ngIf="wetterDetails" class="result">
  <h1>Wetter für  {{this.wetterDetails.name}}, {{this.wetterDetails.sys.country}}</h1>
  <div class="background" [ngStyle]="{'background-image': 'url(' + defineBackgroundImage() + ')'}">
    <div class="details-container">
      <h3>{{this.wetterDetails.weather[0].description}}</h3>
      <img src="http://openweathermap.org/img/wn/{{this.wetterDetails.weather[0].icon}}@2x.png" alt="icon">
      <table class="table">
        <tbody>
        <tr>
          <td class="table-left-column">Temperatur:</td>
          <td class="table-right-column">{{this.wetterDetails.main.temp}}° C</td>
        </tr>
        <tr>
          <td class="table-left-column">Gefühlt:</td>
          <td class="table-right-column">{{this.wetterDetails.main.feels_like}}° C</td>
        </tr>
        <tr>
          <td class="table-left-column">Min. Temp.:</td>
          <td class="table-right-column">{{this.wetterDetails.main.temp_min}}° C</td>
        </tr>
        <tr>
          <td class="table-left-column">Max. Temp.:</td>
          <td class="table-right-column">{{this.wetterDetails.main.temp_max}}° C</td>
        </tr>
        <tr>
          <td class="table-left-column">Feuchtigkeit:</td>
          <td class="table-right-column">{{this.wetterDetails.main.humidity}}%</td>
        </tr>
        <tr>
          <td class="table-left-column">Luftdruck:</td>
          <td class="table-right-column">{{this.wetterDetails.main.pressure}} hPa</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h2>Wettervorhersage</h2>
  <div class="forecast-container">
    <div *ngFor="let day of forecastDetails" class="forecast-box">
      <h3>{{formatDate(day.dt_txt)}}</h3>
      <h3>{{day.weather[0].description}}</h3>
      <img src="http://openweathermap.org/img/wn/{{day.weather[0].icon}}@2x.png" alt="icon">
      <table class="table">
        <tbody>
        <tr>
          <td class="table-left-column">Temperatur:</td>
          <td class="table-right-column">{{day.main.temp}}° C</td>
        </tr>
        <tr>
          <td class="table-left-column">Feuchtigkeit:</td>
          <td class="table-right-column">{{day.main.humidity}}%</td>
        </tr>
        <tr>
          <td class="table-left-column">Luftdruck:</td>
          <td class="table-right-column">{{day.main.pressure}} hPa</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

